.app-continer {
  font-size: 1.5rem;
  border-bottom: 1px solid black;
  display: flex;

  .app-nav {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px;
  }

  .app-home-link {
    margin-right: 20px;
  }
  .app-inbox-link {
    margin-left: 20px;
  }
}
