.app-continer {
  font-size: 1.5rem;
  border-bottom: 1px solid black;
  display: flex;

  .medallia-logo {
    display: flex;
    height: 100px;
    cursor: pointer;
  }
  .app-nav {
    display: flex;
    align-items: center;
    padding: 20px;
  }

  .app-home-link {
    margin-right: 20px;
  }
  .app-inbox-link {
    margin-left: 20px;
  }
}
