.inbox-main-container {
  .inbox-current-page {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .inbox-table-container {
    cursor: pointer;
  }

  .inbox-pagination {
    margin-top: 30px;
    justify-content: center;
  }
}
